@import url(https://fonts.googleapis.com/css?family=Genos);
@import url(https://fonts.googleapis.com/css?family=Poppins);

:root {
  --colorPrimary: #083344;
  --colorOnPrimary: #ffffff;
  --colorPrimaryHover: #0d4c64;
  --colorBackground: #f3f4f6;
  --colorOnBackground: #1f2937;
  --colorBackgroundVariant: #9ca3af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 300px;
  height: 200px;
  background-color: var(--colorBackground);
  color: var(--colorOnBackground);
  font-family: "Poppins";
}

.header {
  background-color: var(--colorPrimary);
  color: var(--colorOnPrimary);
  padding: 8px 10px;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Genos";
}

.app {
  padding: 8px 10px;
  font-size: 0.92rem;
}

.btn {
  width: 100%;
  padding: 8px;
  border-width: 0;
  border-radius: 2px;
  outline: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--colorPrimary);
  color: var(--colorOnPrimary);
}

.btn-primary:hover {
  background-color: var(--colorPrimaryHover);
  color: var(--colorOnPrimary);
}

.mt-sm {
  margin-top: 10px;
}